*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;

   background-image: url("/background.png");
   background-repeat: no-repeat;
   background-size: cover; 
   z-index: -1;
   filter: blur(5px);
}

.background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, transparent, rgba(0, 0, 0, 0.9));
}

